* { box-sizing: border-box }

.projects {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 400px;
}

.project {
	overflow: hidden; 
	background: #C10;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	color: white;
	font-family: "Fira Sans";

	border: 1px solid #C10;
	border-width: 3px 1px 0;

	transition-duration: 0.2s;
	transition-property: box-shadow background transform border;
}

.project-inprogress, .project-stopped {
	cursor: pointer;
}

.project-stopped {
	box-shadow: 0 5px 0 #660500;
}

.project-stopped:hover {
	transform: translateY(-2px);
	box-shadow: 0 7px 0 #660500;
}

.project-inprogress {
	transform: translateY(5px);
	border-color: #660500;
	box-shadow: 0 0 0 #C10;
	background: #990800;
	margin-bottom: 5px;
}

.project-name-edit {
	background: transparent;
	border: 0 none;
	font: inherit;
	color: inherit;
	width: 100%;
	text-align: center;
}

.project-editing {
	border: 1px solid #990800;
}

.project-name-edit::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
}

.project-name, .project-time {
	display: block;
	line-height: 1.4;
}

.project-name {
	float: left;
	font-weight: 100;
	font-style: italic;
	font-size: 3rem;
	margin: 0
}

.project-time {
	float: right;
	text-align: right;
	font-size: 3rem;
	font-weight: 900;
}

.timechar {
	display: inline-block;
	width: 0.55em;
}

.timecolon {
	width: 0.3em;
}
