* { box-sizing: border-box }

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

body {
	font-family: "fira-sans", sans-serif;
}

.projects {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 400px;
}

.project {
	font-size: 2.4rem;
	position: relative;
}

.project-button {
	@include clearfix;
	background: #ddd;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	color: white;
	-webkit-tap-highlight-color: transparent;

	border-style: solid;
	border-width: 3px 1px 0;

	transition-duration: 0.15s;
	transition-property: box-shadow, background, transform, border;
}

.project-inprogress, .project-stopped {
	cursor: pointer;
}

.project-stopped:hover {
	transform: translateY(-2px);
}

.project:hover {
	.project-toolbar {
		opacity: 1;
	}
}

.project-toolbar {
	position: absolute;
	transition: opacity 0.15s;
	opacity: 0;
	top: 0;
	left: 100%;
	color: #666;
	line-height: 20px;
}

.project-inprogress {
	transform: translateY(5px);
	margin-bottom: 5px;
}

.project-name-edit {
	background: transparent;
	border: 0 none;
	font: inherit;
	color: inherit;
	width: 100%;
	padding-right: 1em;

	&:focus {
		outline: none;

		&:valid + .project-enter-prompt {
			opacity: 1;
		}
	}

	&::-webkit-input-placeholder {
		transition: opacity 0.15s;
		text-align: center;
		color: #333;
		opacity: 0.7;
		padding-left: 1em;
	}
}

.project-editing {
	border: 1px solid rgba(0,0,0,0.2);
}

.project-enter-prompt {
	opacity: 0;
	transition: opacity 0.2s;
	position: absolute;
	right: 20px;
	top: 20px;
	line-height: 2;
	font-style: italic;
	font-family: sans-serif;
}

.project-name, .project-time {
	display: block;
	line-height: 1.4;
}

.project-name {
	white-space: nowrap;
	float: left;
	font-weight: 100;
	font-style: italic;
	font-size: inherit;
	margin: 0
}

.project-time {
	float: right;
	text-align: right;
	font-weight: 900;
}

.timechar {
	display: inline-block;
	width: 0.55em;
}

.timecolon {
	width: 0.3em;
}

.timesecond {
	font-size: .6em;
	font-weight: 100;
	font-style: italic;
}

.project-timing-indicator {
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px;
}

@keyframes spin {
	0% { transform: rotate(0); }
	100% { transform: rotate(359.9deg); }
}

%hand {
	border-style: solid;
	position: absolute;
	animation-name: spin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: 7px;
	bottom: 50%;
	transform-origin: bottom;
}

$clock-base-speed: 60s;

.clock {
	border: 1px solid;
	width: 16px;
	height: 16px;
	border-radius: 8px;

	.big-hand {
		@extend %hand;
		animation-duration: ($clock-base-speed / 60);
		border-width: 0 1px 0 0;
		width: 1px;
		height: 6px;
	}

	.little-hand {
		@extend %hand;
		border-width: 0 1px 0;
		width: 1px;
		height: 5px;
		left: 6.5px;
		border-radius: 1px;
		animation-duration: $clock-base-speed;
	}
}
