@import "scss/flexbox";

* { box-sizing: border-box }

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

body {
	margin: 60px 0 0;
	font-family: "fira-sans", sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 25rem;
}

header {
	background: #e0ecf2;
	box-shadow: 0 5px 0 #c0cacf;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;

	height: 48px;

	.container {
		padding: 0 0.675rem;
	}

	h1 {
		float: left;
		margin: 0;
		img {
			height: 24px;
			width: auto;
			margin: 12px 0;
		}
	}

	.login-buttons-dropdown-align-right {
		float: right;
		display: inline-block;
		line-height: 48px !important;
	}
}

.projects {
	@extend .container;
	list-style: none;
}

.project {
	@include flexbox;
	font-size: 2.4rem;
	margin: 0.675rem;
	color: white;
}

.project-button {
	@include clearfix;
	background: #ddd;
	padding: 1.25rem;
	-webkit-tap-highlight-color: transparent;
	color: inherit;

	border-style: solid;
	border-width: 3px 1px 0;

	transition-duration: 0.15s;
	transition-property: box-shadow, background, transform, border, border-radius;
	.project-exists.project-clickable &:not(.project-button-active):hover {
		transform: translateY(-2px);
	}

	&:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&:focus {
		outline: none;
	}

	cursor: pointer;
}

.project-exists.project-clickable .project-button:not(.project-button-active):active,
.project-button-active {
	transform: translateY(5px);
}

.octicon {
	cursor: inherit;
}

.project-button-main {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	@include flex(1);

	&.project-button-active {
		border-radius: 5px;
		+ .project-toolbar {
			max-width: 0;
			opacity: 0;
		}
	}
}

.project-toolbar {
	@include flexbox;
	@include flex-direction(column);

	overflow-x: hidden;
	overflow-y: visible;
	max-width: 3rem;
	padding: 2px 0 5px;
	margin: -2px 0 -5px;

	transition-property: max-width, opacity;
	transition-duration: 0.15s;

	.project-clickable & {
		margin-left: -1px;
	}

	.project-info & {
		margin-left: 1px;
	}

	z-index: 2; // border above main button
	
	.project-button {
		@include flex(1);
		border-width: 0 0 0 1px;
		padding: 0 1rem;
		margin-bottom: 1px;
	}

	@for $i from 1 through 10 {
		.project-button:nth-child(#{$i}) {
			z-index: $i;
		}
	}

	.project-button:last-child {
		border-radius: 0;
		border-bottom-right-radius: 5px;
		margin: 0;
	}

	.project-button:first-child {
		border-top-right-radius: 5px;
	}
}

%placeholder {
	text-align: center;
	color: #333;
	opacity: 0.7;
}


.project-add,
.project-info {
	.project-button {
		border: 1px solid rgba(0,0,0,0.4);
		transform: translateY(2px);
	}

	.project-button-main {
		cursor: text;
	}
}

.project-list {
	.project-button-main {
		padding: 0;
		height: 5.86rem;
		overflow-y: auto;
	}
}

.project-enter-prompt {
	opacity: 0;
	transition: opacity 0.2s;
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
	font-size: 2rem;
	line-height: 2;
	font-style: italic;
	font-family: sans-serif;
}

.project-name, .project-time {
	display: block;
	line-height: 1.4;
	height: 1.4em;
}

.project-name {
	white-space: nowrap;
	float: left;
	font-weight: 100;
	font-style: italic;
	font-size: inherit;
	margin: 0;
}

.project-name-placeholder {
	@extend %placeholder;
	float: none;
}

.project-name-edit {
	background: transparent;
	border: 0 none;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	width: 100%;
	padding: 0 1em 0 0;
	float: none;

	&:focus {
		outline: none;

		&:valid + .project-enter-prompt {
			opacity: 1;
		}
	}

	&::-webkit-input-placeholder {
		@extend %placeholder;
		transition: opacity 0.15s;
		padding-left: 1em;
	}
}
.project-time {
	float: right;
	text-align: right;
	font-weight: 900;
}

.timechar {
	display: inline-block;
	width: 0.55em;
}

.timecolon {
	width: 0.3em;
}

.timesecond {
	font-size: .6em;
	font-weight: 100;
	font-style: italic;
}

.project-timing-indicator {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5rem;
}

@keyframes spin {
	0% { transform: rotate(0); }
	100% { transform: rotate(359.9deg); }
}

%hand {
	border-style: solid;
	position: absolute;
	animation-name: spin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: 7px;
	bottom: 50%;
	transform-origin: bottom;
}

$clock-base-speed: 60s;

.clock {
	border: 1px solid;
	width: 16px;
	height: 16px;
	border-radius: 8px;

	.big-hand {
		@extend %hand;
		animation-duration: ($clock-base-speed / 60);
		border-width: 0 1px 0 0;
		width: 1px;
		height: 6px;
	}

	.little-hand {
		@extend %hand;
		border-width: 0 1px 0;
		width: 1px;
		height: 5px;
		left: 6.5px;
		border-radius: 1px;
		animation-duration: $clock-base-speed;
	}
}

.timings {
	font-size: 1.2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.timings li {
	display: flex;
	margin: 0.5rem;
}

.timing-ended, .timings-nope {
	font-weight: 100;
	font-style: italic;
}

.timing-duration {
	@include flex(1);
	font-weight: bold;
}

.timing-button {
	border: 0 none;
	padding: 0.5em 0.6em;
	margin-left: 0.5em;
	text-align: center;
	color: inherit;
	background: rgba(0,0,0,0.1);
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		background: rgba(0,0,0,0.15);
	}
	
	&:active {
		background: rgba(0,0,0,0.2);
	}
}
