* { box-sizing: border-box }

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

body {
	font-family: "fira-sans", sans-serif;
}

.projects {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 400px;
}

.project {
	font-size: 2.4rem;
	margin: 10px;
	display: flex;
	color: white;
}

.project-button {
	@include clearfix;
	background: #ddd;
	padding: 20px;
	-webkit-tap-highlight-color: transparent;
	color: inherit;

	border-style: solid;
	border-width: 3px 1px 0;

	transition-duration: 0.15s;
	transition-property: box-shadow, background, transform, border;
	.project-exists.project-not-editing &:not(.project-button-active):hover {
		transform: translateY(-2px);
	}

	&:last-child {
		border-radius: 5px;
	}

	&:focus {
		outline: none;
	}

	cursor: pointer;
}

.project-exists.project-not-editing .project-button:not(.project-button-active):active,
.project-button-active {
	transform: translateY(5px);
}

.octicon {
	cursor: inherit;
}

.project-button-main {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	flex: 1;

	&.project-button-active {
		border-radius: 5px;
		+ .project-toolbar {
			display: none;
		}
	}
}

.project-toolbar {
	display: flex;
	flex-direction: column;

	border-left: 1px solid;
	margin-left: -1px;

	z-index: 2; // border above main button
	
	.project-button {
		flex: 1;
		padding: 0 15px;
		margin-bottom: 1px;
	}

	@for $i from 1 through 10 {
		.project-button:nth-child(#{$i}) {
			z-index: $i;
		}
	}

	.project-button:first-child {
		border-top-right-radius: 5px;
	}

	.project-button:last-child {
		border-radius: 0;
		border-bottom-right-radius: 5px;
		margin: 0;
	}
}

%placeholder {
	text-align: center;
	color: #333;
	opacity: 0.7;
}


.project-add,
.project-editing {
	.project-button {
		border: 1px solid rgba(0,0,0,0.4);
		transform: translateY(2px);
	}

	.project-button-main {
		cursor: text;
	}
}

.project-enter-prompt {
	opacity: 0;
	transition: opacity 0.2s;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 2rem;
	line-height: 2;
	font-style: italic;
	font-family: sans-serif;
}

.project-name, .project-time {
	display: block;
	line-height: 1.4;
	height: 1.4em;
}

.project-name {
	white-space: nowrap;
	float: left;
	font-weight: 100;
	font-style: italic;
	font-size: inherit;
	margin: 0;
}

.project-name-placeholder {
	@extend %placeholder;
	float: none;
}

.project-name-edit {
	background: transparent;
	border: 0 none;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	width: 100%;
	padding: 0 1em 0 0;
	float: none;

	&:focus {
		outline: none;

		&:valid + .project-enter-prompt {
			opacity: 1;
		}
	}

	&::-webkit-input-placeholder {
		@extend %placeholder;
		transition: opacity 0.15s;
		padding-left: 1em;
	}
}
.project-time {
	float: right;
	text-align: right;
	font-weight: 900;
}

.timechar {
	display: inline-block;
	width: 0.55em;
}

.timecolon {
	width: 0.3em;
}

.timesecond {
	font-size: .6em;
	font-weight: 100;
	font-style: italic;
}

.project-timing-indicator {
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px;
}

@keyframes spin {
	0% { transform: rotate(0); }
	100% { transform: rotate(359.9deg); }
}

%hand {
	border-style: solid;
	position: absolute;
	animation-name: spin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: 7px;
	bottom: 50%;
	transform-origin: bottom;
}

$clock-base-speed: 60s;

.clock {
	border: 1px solid;
	width: 16px;
	height: 16px;
	border-radius: 8px;

	.big-hand {
		@extend %hand;
		animation-duration: ($clock-base-speed / 60);
		border-width: 0 1px 0 0;
		width: 1px;
		height: 6px;
	}

	.little-hand {
		@extend %hand;
		border-width: 0 1px 0;
		width: 1px;
		height: 5px;
		left: 6.5px;
		border-radius: 1px;
		animation-duration: $clock-base-speed;
	}
}
