<template name="project">
<li class="project">
{{#if _id}}
<style>
.project-{{_id}} {
	background: {{baseColour}};
	border-color: {{baseColour}};
}

.project-{{_id}}.project-stopped {
	box-shadow: 0 5px 0 {{darkColour2}};
}

.project-{{_id}}.project-stopped:hover {
	background: {{activeColour}};
	border-color: {{activeColour}};
	box-shadow: 0 7px 0 {{darkColour2}};
}

.project-{{_id}}.project-inprogress {
	border-color: {{darkColour2}};
	background: {{darkColour1}};
}
</style>
{{/if}}
<div class="
	project-button
	{{#if _id}}
		project-exists
		project-{{_id}}
		{{#if inProgress}}
			project-inprogress
		{{else}}
			project-stopped
		{{/if}}
	{{else}}
	project-add {{#unless editing}}project-edit-toggle{{/unless}}
	{{/if}}
	{{#if editing}}project-editing{{/if}}">
	{{#if editing}}
		<input class="project-name project-name-edit" type="text" placeholder="Add project..." value="{{ name }}" required>
		<div class="project-enter-prompt">↩︎</div>
	{{else}}
	{{#if _id}}
		<h1 class="project-name">{{ name }}</h1>
		<time class="project-time">
			{{#if inProgress}}
				{{{ timeElapsed }}}
				<div class="project-timing-indicator clock">
					<div class="big-hand"></div>
					<div class="little-hand"></div>
				</div>
			{{else}}
				{{{ total }}}
			{{/if}}
		</time>
	{{else}}
		<h1 class="project-name project-name-placeholder">Add project...</h1>
	{{/if}}
	{{/if}}
</div>

<aside class="project-toolbar">
	<span class="octicon octicon-pencil"></span>
	<span class="octicon octicon-pulse"></span>
</aside>
</li>
</template>
