<template name="project">
<li class="
	project
	{{#if _id}}
		project-{{_id}}
		project-exists
		{{#if inProgress}}
			project-inprogress
		{{else}}
			project-stopped
		{{/if}}
	{{else}}
	project-add 
	{{/if}}
	{{#if notButton}}
		project-info
	{{else}}
		project-clickable
	{{/if}}
	{{#if showList}}
		project-list
	{{/if}}">
{{#if _id}}
<style>
.project-{{_id}} .project-button {
	background: {{baseColour}};
}

.project-{{_id}}.project-clickable .project-button {
	border-color: {{baseColour}};
	box-shadow: 0 5px 0 {{darkColour2}};
}

.project-{{_id}}.project-clickable .project-button:hover {
	background: {{activeColour}};
	border-color: {{activeColour}};
	box-shadow: 0 7px 0 {{darkColour2}};
}

.project-{{_id}}.project-clickable .project-button:active,
.project-{{_id}}.project-clickable .project-button-active,
.project-{{_id}}.project-clickable .project-button-active:hover {
	border-color: {{darkColour2}};
	background: {{darkColour1}};
	box-shadow: 0 0 0 transparent;
}

.project-{{_id}}.project-clickable .project-toolbar .project-button {
	border-color: {{darkColour2}};
}
</style>
{{/if}}
<div class="project-button project-button-main {{#if inProgress}}project-button-active{{/if}}" role="{{#unless _id}}{{#unless editing}}edit{{/unless}}{{/unless}}">
	{{#if editing}}
		<input class="project-name project-name-edit" type="text" placeholder="Add project..." value="{{ name }}" required>
		<div class="project-enter-prompt">↩︎</div>
	{{else}}
	{{#if showList}}
	<ul class="timings">
		{{#each timings}}
			{{> timing}}
		{{/each}}
	</ul>
	{{else}}
	{{#if _id}}
		<h1 class="project-name">{{ name }}</h1>
		<time class="project-time">
			{{#if inProgress}}
				{{{ timeElapsed }}}
				<div class="project-timing-indicator clock">
					<div class="big-hand"></div>
					<div class="little-hand"></div>
				</div>
			{{else}}
				{{{ total }}}
			{{/if}}
		</time>
	{{else}}
		<h1 class="project-name project-name-placeholder">Add project...</h1>
	{{/if}}
	{{/if}}
	{{/if}}
</div>

{{#if _id}}
<aside class="project-toolbar">
	{{#if editing}}
	<button class="project-button" role="edit">
		<span class="octicon octicon-x"></span>
	</button>
	<button class="project-button" role="delete">
		<span class="octicon octicon-trashcan"></span>
	</button>
	{{else}}
	{{#if showList}}
	<button class="project-button" role="list">
		<span class="octicon octicon-x"></span>
	</button>
	{{else}}
	<button class="project-button" role="edit">
		<span class="octicon octicon-pencil"></span>
	</button>
	<button class="project-button" role="list">
		<span class="octicon octicon-list-unordered"></span>
	</button>
	{{/if}}
	{{/if}}
</aside>
{{/if}}
</li>
</template>
